h1 {
    text-align: center;
    border: 3px solid maroon;
    margin: 50px;
    padding: 25px;
}

p {
    text-align: justify;
}
footer {
    text-align: center;
}


p {
    border: 5px solid maroon; 
}

p {
    text-align: justify;
    border: 5px solid maroon; 
    margin: 25px;
    padding: 50px;
}
footer {
    text-align: center;
}
body {
    text-align: center;
    background-color: rgb(228, 128, 145);
}

.tama-game {
    display: inline;
    list-style-type: none;
    font-size: 20px;
    position: absolute;
}
.age {
    list-style-type: none;
    font-size: 20px;
}
button {
    background-color: rgb(194, 144, 194);
}