h1 {
    text-align: center;
    border: 2px solid maroon;
    margin: 50px;
    padding: 25px;
}

p {
    text-align: justify;
}
footer {
    text-align: center;
}


p {
    border: 5px solid maroon; 
}

p {
    text-align: justify;
    border: 1px solid maroon; 
    margin: 25px;
    padding: 50px;
}
footer {
    text-align: center;
}
body {
    text-align: center;
    background-color: pink;
}

.tama-game {
    list-style-type: none;
    text-align: right;
}
.age {
    list-style-type: none;
}